@model Users
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Login-Registration</title>
    <link href="~/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <style>
        .error-message{
            color:red;
        }
    </style>
</head>
<body>
    <partial name="_Notification" />
    <div class="main">
        <div class="container a-container" id="a-container">
            <form asp-action="Regesration" class="form" id="a-form" onsubmit="return validateForm()">
                <h2 class="form_title title">Create Account</h2>
                <input asp-for="FirstName" id="Name" class="form__input" type="text" required placeholder="First Name">
                <span id="nameError" class="error-message"></span>

                <input asp-for="@Model.LastName"  class="form__input" type="text" required placeholder="Last Name">

                <input asp-for="Email" id="Email" class="form__input" type="text" required placeholder="Email">
                <span id="emailError" class="error-message"></span>

                <input asp-for="Password" id="Password" class="form__input" type="password" required placeholder="Password">
                <span id="passwordError" class="error-message"></span>

                <select asp-for="IsCaregiver" class="form__input" id="userType">
                    <option value="false">User</option>
                    <option value="true">Caregiver</option>
                </select>
                <div class="text-danger">
                    @Html.ValidationMessage("InvalidUser")
                </div>
                <button type="submit" class="form__button button">SIGN UP</button>
            </form>
        </div>


        <div class="container b-container" id="b-container">
            <form asp-action="LogIn" class="form" id="b-form">
                <h2 class="form_title title">Sign in</h2>
                <input asp-for="@Model.Email" class="form__input" type="text" required placeholder="Email">
                <span id="emailError" class="error-message"></span>

                <input asp-for="@Model.Password" class="form__input" type="password" required placeholder="Password">
                <span id="passwordError" class="error-message"></span>
@*                 <a asp-action="Forgotpassword" class="form__link">Forgot your password?</a> *@
                
                <button type="submit" class="form__button button">SIGN IN</button>

            </form>
        </div>
        <div class="switch" id="switch-cnt">
            <div class="switch__circle"></div>
            <div class="switch__circle switch__circle--t"></div>
            <div class="switch__container" id="switch-c1">
                <h2 class="switch__title title">Welcome Back !</h2>
                <p class="switch__description description">To keep connected with us please login with your personal info</p>
                <button class="switch__button button switch-btn">SIGN IN</button>
            </div>
            <div class="switch__container is-hidden" id="switch-c2">
                <h2 class="switch__title title">Hello Friend !</h2>
                <p class="switch__description description">Enter your personal details and start journey with us</p>
                <button class="switch__button button switch-btn">SIGN UP</button>
            </div>
        </div>
    </div>
    <script src="~/login.js"></script>
</body>
</html>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}